@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
$primary-font-family: "Lexend", sans-serif;
$primary-color: #451da0;
$primary-font-weight: 600;
$primary-border-color: #24adf7;
$primary-witdh-container: 1280px;
