@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
}

.banner {
    height: 700px;
    width: 100%;
    background-image: url('/img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



