@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@media (max-width: 1068px) {
  .container-navigation {
    justify-content: space-around !important;
    padding: 0 !important;
  }
}
li, a {
  text-decoration: none;
  list-style-type: none;
}

.container-bar {
  height: 48px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.container-bar img {
  position: absolute;
  top: 0; /* Đảm bảo hình không vượt quá phần top */
  right: 64%;
  transform: translateX(-50%);
  max-height: none;
  width: 144px;
}

.container-bar span {
  margin-left: 10px;
  color: #451da0;
  font-weight: 500;
}

.container-bar b {
  margin-left: 10px;
  color: black;
}

.container-bar button {
  width: 141px;
  height: 32px;
  margin-left: 10px;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  background-image: linear-gradient(-190deg, #853aff 10%, #7158ff 100%);
  color: white;
  cursor: pointer;
}

.header-container {
  background-color: #451da0;
  display: flex;
  justify-content: center;
}

.container-navigation {
  height: 64px;
  width: 1280px;
  background-color: transparent;
  color: #ffffff;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 5px;
}

.left-navigation h2 {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid #7158ff;
  padding: 0 16px 0 0;
}

.left-navigation a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 8px 20px 8px 20px;
}

.left-navigation,
.right-navigation {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.dropdown-container {
  height: 100%;
  display: inline-block;
  position: relative;
}

.dropdown-container button {
  height: 100%;
  border: none;
  padding: 0 10px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
}

.dropdown-content,
.dropdown-content-area {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: white;
  z-index: 1;
  white-space: nowrap;
  margin-top: 15px;
  border-radius: 4px;
  border: 1px solid #3eb5f7;
  right: -90px;
  padding: 10px 5px;
}

.dropdown-content {
  right: -90px;
}

.dropdown-content::before,
.dropdown-content-area::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  transform: translateX(-50%) rotate(45deg);
  background-color: white;
  border-top: 1px solid #3eb5f7;
  border-left: 1px solid #3eb5f7;
}

.dropdown-content-area {
  right: 0;
}

.dropdown-content::before {
  top: -8px;
  right: 90px;
}

.dropdown-content-area::before {
  top: -8px;
  right: 25px;
}

.dropdown-content li,
.dropdown-content-area li {
  border-radius: 5px;
}

.dropdown-content-area li a {
  padding: 8px 10px;
}

.dropdown-content li a,
.dropdown-content-area li a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}

.dropdown-content li a img {
  height: 18px;
  width: 18px;
}

.login-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 0 16px;
  text-align: left;
}

.login-recruitment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100%;
  padding-right: 5px;
}

.dropdown-container button i {
  margin-left: 8px;
}

.right-navigation img {
  height: 25px;
  width: 25px;
  margin-left: 15px;
}

.login-user {
  border-right: 1px solid #7158ff;
}

.login-recruitment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-user small {
  font-size: 10px;
  font-weight: 500;
}

.login-recruitment small {
  font-size: 11px;
  font-weight: 600;
}

.login-user p {
  font-size: 14px;
}

.login-recruitment p {
  font-size: 10px;
  font-weight: 600;
}

.login-recruitment img {
  height: 25px;
  width: 25px;
}

.group-recruitment {
  display: flex;
  flex-direction: column;
}

.left-navigation a:hover,
.left-navigation button:hover,
.right-navigation button:hover,
.login-user:hover,
.login-recruitment:hover {
  background-color: #39117a;
}

.dropdown-content.show,
.dropdown-content-area.show {
  visibility: visible;
  opacity: 1;
}

.dropdown-content li:hover a,
.dropdown-content-area li:hover a {
  background-color: #cee5f3;
  border-radius: 3px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../resources/scss/_variables.scss%22,%22../../resources/scss/header.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAQ;ACGR;EACI;IACI;IACA;;;AAIR;EACI;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA,ODnCY;ECoCZ;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI,kBD1DY;EC2DZ;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;AAAA;EAEI;EACA;EACA;EAEA,aDnGkB;;;ACsGtB;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA,aDlHkB;ECmHlB;EACA;;;AAGJ;AAAA;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;;;AAGJ;AAAA;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;AAAA;EAEI;;;AAGJ;EACI;;;AAGJ;AAAA;EAEI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGJ;AAAA;AAAA;AAAA;AAAA;EAKI;;;AAGJ;AAAA;EAEI;EACA;;;AAGJ;AAAA;EAEI;EACA%22,%22file%22:%22header.css%22%7D */
